.SalesOverTimeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Размещаем кнопки и график с равномерными отступами */
    height: 100%; /* Высота контейнера равна 100% от родителя */
    max-height: 500px; /* Ограничиваем максимальную высоту */
    overflow: hidden; /* Скрываем части, выходящие за пределы */
  }
  

  
  .ToggleButtonGroup {
    align-self: center; /* Центрируем ToggleButtonGroup */
    margin-bottom: 2em; /* Добавляем отступ снизу */
  }
  
  .chart-wrapper {
    flex-grow: 1; /* График занимает оставшееся пространство */
    display: flex;
    align-items: flex-end; /* Размещаем график внизу оставшегося пространства */
    margin-top: 2em; /* Добавляем отступ сверху для создания пространства между графиком и ToggleButtonGroup */
    max-height: 300px; /* Ограничиваем максимальную высоту */
    overflow: hidden; /* Скрываем части, выходящие за пределы */
}
