.ProductDataDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 0.3fr 1fr 1fr;
  grid-gap: 3em;

  .current-inventory {
    grid-column: 1; 
    grid-row: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
  }

  .report-button {
    grid-column: 2; 
    grid-row: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
  }

  .sales-over-time {
    grid-column: 1;
    grid-row: 2; 
  }


  .latest-comments {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
  }

  .conversion-rate {
    grid-column: 1; 
  }

  .review-trend {
    grid-column: 2; 
    grid-row: 3; 
  }
}
