.ProductDataDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 0.3fr 1fr 1fr;
  grid-gap: 3em;

  .CurrentInventory {
    grid-column: 1; // Третья колонка
    grid-row: 1; // Вторая строка
    display: flex;
    flex-direction: column;
    justify-content: flex-start; // Расположить внизу секции
    align-items: center;
  }

  .ReportButton {
    grid-column: 2; 
    grid-row: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; // Расположить сверху секции
    align-items: center;
  }

  .SalesOverTime {
    grid-column: 1;
    grid-row: 2; // Занимает две строки
  }


  .LatestComments {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
  }

  .ConversionRate {
    grid-column: 1; // Третья строка
  }

  .ReviewTrend {
    grid-column: 2; 
    grid-row: 3; 
  }
}
