.ProductDataDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; // Три колонки: первая для Sales, вторая для комментариев, третья для кнопки и Current Inventory
  grid-template-rows: 0.3fr 1fr 1fr; // Три строки для содержимого
  grid-gap: 3em;

  .SalesOverTime {
    grid-column: 1; // Первая колонка
    grid-row: 2; // Занимает две строки
  }

  .CurrentInventory {
    grid-column: 1; // Третья колонка
    grid-row: 1; // Вторая строка
    display: flex;
    flex-direction: column;
    justify-content: flex-start; // Расположить внизу секции
    align-items: center;
  }

  .ReportButton {
    grid-column: 2; // Третья колонка
    grid-row: 1; // Вторая строка
    display: flex;
    flex-direction: column;
    justify-content: flex-start; // Расположить сверху секции
    align-items: center;
  }

  .LatestComments {
    grid-column: 2 / span 3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
  }

  .ConversionRate {
    grid-column: 1; // Первая колонка
    grid-row: 3; // Третья строка
  }

  .ReviewTrend {
    grid-column: 2 / span 3; // Занимает все три колонки
    grid-row: 3; // Третья строка
  }
}
